layout {

    focus-ring {
        on
        width 2
        active-color   "#7aa2f7"
        inactive-color "#1a1b26"
        urgent-color   "#f7768e"
    }

    border {
        on
        width 2
        active-color   "#7aa2f7"
        inactive-color "#1a1b26"
        urgent-color   "#f7768e"
    }

    shadow {
        on
        color "#15161e70"
        softness 25
        spread 3
        offset x=0 y=4
    }

    tab-indicator {
        active-color   "#7aa2f7"
        inactive-color "#003dbe"
        urgent-color   "#f7768e"
    }

    insert-hint {
        color "#7aa2f780"
    }
}

recent-windows {
    highlight {
        active-color "#7aa2f7"
        urgent-color "#f7768e"
    }
}
