layout {
    focus-ring {
        on
        width 2
        active-color   "#ea9462"
        inactive-color "#291c14"
        urgent-color   "#dd641e"
    }

    border {
        on
        width 2
        active-color   "#ea9462"
        inactive-color "#291c14"
        urgent-color   "#dd641e"
    }

    shadow {
        on
        color "#291c1470"
        softness 25
        spread 3
        offset x=0 y=4
    }

    tab-indicator {
        active-color   "#ea9462"
        inactive-color "#452e21"
        urgent-color   "#dd641e"
    }

    insert-hint {
        color "#ea946280"
    }
}

recent-windows {
    highlight {
        active-color "#ea9462"
        urgent-color "#dd641e"
    }
}
